body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 860px;
    background: url(../images/open-book-45.jpg) no-repeat;
    background-position: center;
    background-size:cover;
}

.bodega{
    position: relative;
    width: 600px;
    background-color: maroon;
    border: 2px solid black(255,256,6);
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bodega h2{
    font-size: 2.3rem;
    color: aqua;
    text-align: center;
}
.alojar-bodega{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid mediumslateblue;
}
.alojar-bodega label{
    position: absolute;
    top: 50%;
    left: Spx;
    transform: translateY(-50%);
    color: blue;
    font-size: 1rem;
    pointer-events: none;
    transition: 1s;
    font-family: cursive;
}