@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}
.menu{
    background-color: #1A202C;
    color: #fff;
    height: 70px;
}
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__link{
  height:  100%;
  transition: transform .5s;
  display: flex; 
}
.menu__item{
    list-style: none;
    position:relative;
    height: 100%;
    
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.menu__nesting{
    clip-path: var(--clip) ;
}